<div class="container-fluid top-container">
	<h1 class="top-title h1-font-three">Un site web et mobile qui vit et grandit au rythme de votre restaurant</h1>

	<img src="assets/grow.png" width="80%" class="img-responsive center-block top-image" alt="" />

</div>


<div class="container-fluid sign-up-container">
	<div class="row">
		<div class="col-xs-12 col-xm-12 col-md-6">
			
		</div>
		<div class="col-xs-12 col-xm-12 col-md-6">
			<h1 class="sign-up-title h1-font-three">
				Démarrez gratuitement!

			</h1>		
		</div>		

	</div>
</div>

<div class="container-fluid second-container">
	<div class="second-title h1-font-three">
		Obtenez un site web et mobile qui grandit et vit au rythme de votre restaurant

	</div>
</div>
	

<div class="container-fluid sign-up-container">
	<div class="row">
		<div class="col-xs-12 col-xm-12 col-md-6">
			
		</div>

		<div class="col-xs-12 col-xm-12 col-md-6">
			<h1 class="sign-up-title h1-font-three">
				Démarrez gratuitement!

			</h1>		
		</div>		
	</div>
</div>

<div class="container" style="padding-top:15%">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="h2-font-three">
	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          Votre présence web et mobile en quelques minutes
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body p-font-three">
	        Spekulooz vous assure une présence web et mobile qui facilite la communication entre vous et vos clients grâce à des interfaces utilisateurs adaptées à chaque type d’appareil. Et ça, en à peine quelques minutes.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          Pas en plein service !
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
	        Tous les moments ne sont pas propices à la gestion de votre site internet. Et Spekulooz ne désire pas être dans vos jambes au mauvais moment. C’est pourquoi tous les changements sont planifiés. Insérez vos nouvelles suggestions quand vous avez le temps de le faire, et choisissez le moment auquel elles seront mises en avant sur votre site. 
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingThree">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          Vous n’êtes pas seul
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      <div class="panel-body">
	        Spekulooz vous accompagne et vous conseille à chaque instant de la vie de votre site. Que ce soit pour vous aider à choisir vos couleurs, insérer pour vous des modifications ou encore une relecture orthographique de vos textes, Spekuloos est là pour vous.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingFour">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
	          Votre site communique pour vous
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
	      <div class="panel-body">
	        Les informations qui sont sur votre site sont régulièrement mises à jour. Vous pouvez ainsi toujours renvoyer vos clients vers votre site où ils découvriront ce que votre établissement a à leur offrir.
	      </div>
	    </div>
	  </div>
	</div>	

</div>

<div class="container-fluid sign-up-container">
	<div class="row">
		<div class="col-xs-12 col-xm-12 col-md-6">
			
		</div>
		<div class="col-xs-12 col-xm-12 col-md-6">
			<h1 class="sign-up-title h1-font-three">
				Démarrez gratuitement!

			</h1>		
		</div>		

	</div>
</div>


<div class="container-fluid contact-container">
	

</div>