<nav class="navbar navbar-light bg-faded">
  <div class="container-fluid">

    <div class="nav">
      <a class="navbar-brand" href="#">Spekulooz</a>
    </div>

    <div class="nav navbar-nav">
      <% if user_signed_in? %>
        <li><%= link_to t("menu.sign_out"), destroy_user_session_path, class:"nav-item nav-link", :method=>'delete' %></li>
      <% else %>
        <li><%= link_to t("menu.sign_up"), new_user_registration_path, class:"nav-item nav-link" %>
        </li>
        <li><%= link_to t("menu.sign_in"), new_user_session_path, class:"nav-item nav-link" %>
        </li>
      <% end %>
    </div>    

  </div>
  

</nav>